/* start style for my first assignment repo about new year new me  */

/* default css reset  */
* {
    padding: 0;
    margin: 0;
    /* set font in universel area */
    font-family: 'Work Sans', sans-serif;



}



/* heading style */
.header {
    max-width: 1600px;
    width: 100%;
    height: 800px;
    background-image: url('../images/banner/banner3.png');
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;

}

.header-container {
    width: 1140px;
}




/* for heading content align right side */
.header-right {
    max-width: 525px;
    text-align: end;
    margin-left: auto;

}

.heading-text {
    color: white;
    font-weight: 800;
    font-size: 65px;
    text-align: end;
    margin-bottom: 24px;
}

.heading-description {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
    padding-left: 58px;

}

.btn-primary {
    padding: 20px 25px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: white;
    color: #005FAC;
    border-radius: 8px;
    cursor: pointer;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}




/* failures-reasons style */
.failures-section {
    display: flex;
    align-items: center;
    gap: 85px;
    margin-bottom: 130px;
}

.person-img {
    width: 570px;
    height: auto;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: black;
    text-align: left;
    padding-right: 118px;
    margin-bottom: 24px;
}

.section-description {
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failures-reasons ul li {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 8px;
    position: relative;
    list-style-image: url("../images/list-image.png");
    list-style-position: inside;
}




/* .reasons ul li::before {
    content: ' ';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url('../images/list-image.webp');
  } */




/* plan section style */
.plan-section {
    margin-bottom: 130px;
}

.plan-container {
    display: flex;
    gap: 45pxpx;
    justify-content: center;
    text-align: center;
    width: 100%;

}

.plan-section .section-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    color: black;
    width: 100%;
}

.plan {
    width: 25%;
}

.plan-img {
    margin-bottom: 20px;
    width: 60px;
    height: auto;
}
.plan-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    color: black;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}






/* success formula section style */
.success-section {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 130px;
    text-align: center;
    height: 370px;
}

.success-container {
    justify-content: space-around;
    display: flex;
    gap: 10px;
}

.success-title {
    padding: 20px 0px;
    font-weight: 700;
    font-size: 30px;
    color: #005FAC;
    margin-bottom: 15px;
}

.success-item {
    width: 33%;
    border-radius: 8px;
    padding: 15px;
    color: white;
    cursor: pointer;
    transition-duration: .6s;
}

.success-item:hover {
    box-shadow: 1px 3px 3px rgba(96, 91, 91, 0.541);
}


.success-item img {
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
}

/* set color by class */
.color1 {
    background: #4b8abe;
}

.color2 {
    /* background: #61ae45; */
    background-image: linear-gradient(to right, #4b8abe, #9043b1);
}

.color3 {
    background: #9043b1;
}

.item-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.success-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

.success-item ul {
    list-style: none;
    text-align: left;
}

.success-item ul li {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
}





/* final message section style*/
.final-msg {
    width: 1140px;
    height: 300px;
    margin-bottom: 130px;
    background-image: url('../images/watch.png');
}

.final-gradiyent {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #005FACed, #00000000);
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 8px;
}

.msg-container {
    width: 460px;
    height: auto;
    margin-left: 70px;
}

.final-text {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}


/* footer section style */
.footer {
    width: 100%;
    height: auto;
    background-color: #151414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 0px;
}

.footer-container {
    max-width: 1140px;
    height: auto;
    display: flex;
    gap: 300px;
    color: white;
}


.future-text {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.future-description {
    line-height: 26px;
    width: 485px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;

}

.future .email {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
}

.future .number {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
}

.social ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}



/* subscribe email input and button style */
.subscribe-text {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}


.subscribe input[type='email'] {
    padding: 22px;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid white;
    outline: none;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    margin-bottom: 16px;
    width: 325px;
}

::placeholder {
    color: white;
}

.subscribe input[type='submit'] {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 36px;
    background-color: #005FAC;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}